<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacker News</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Hacker News PWA made with Ruby on Rails.">
    <meta name="theme-color" content="#ffffff">
    <style>
      body {
        background-color: #fff;
        color: #333;
        margin: 33px;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 18px;
        line-height: 24px;
      }

      p, ol, ul, td {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 18px;
        line-height: 24px;
      }

      small {
        font-size: 16px;
        line-height: 22px;
      }

      ul, ol {
        list-style: none;
      }

      ol {
        padding-left: 0;
      }

      ul {
        padding-left: 1.34em;
      }

      li {
        margin-top: 0.67em;
        margin-bottom: 0.67em;
      }

      .gray {
        color: #666;
      }

      pre {
        background-color: #eee;
        padding: 10px;
        font-size: 13px;
      }

      a {
        color: #000;

        &:visited {
          color: #666;
        }

        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <link rel="manifest" href="/manifest.json" />
    <%= canonical_tag -%>
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <%= yield %>
  </body>
</html>
